<% provide(:title, @organizer.name) %>
<div class="container">
  <h1><%= @organizer.name %></h1>   
  <div class="card event-desc col-md-12">
    <%= @organizer.description %>
  </div>  
  <div class="card-group event-card row">
    <div class="card event-info col-md-6">
      <h2>Организованные мероприятия: </h2>
      <% @events.each do |event| %>
        <h5><%= event.name %></h5>
      <% end  %>
    </div>
  </div>
</div>