<% provide(:title, '') %>
<div class="row navbar-admin">
  <h1>Все мероприятия</h1>
  <% if logged_in? %>
    <span class="ml-auto">
      <%= link_to '/events/new', title: 'Добавить мероприятие' do %>
        <%= material_icon.add.md_36 %>
      <% end %>
    </span>
  <% end %>  
</div>
<div class="container-fluid events-container">
  <div class="row event-cards">
    <% @events.each do |event| %>
      <%= render event %>
    <% end %>
  </div>
</div>
<%= will_paginate @events, list_classes: %w(pagination justify-content-center) %>

