<footer class="footer">
  <ul class="nav bg-secondary">
      <li class="nav-item">
          <%= link_to "Мероприятия", events_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "Организаторы", organizers_path, class: "nav-link" %>
      </li>
  </ul>
</footer>